html {
    --font-family: Segoe UI, Verdana, sans-serif;

    --primary-color: #ffc917;
    --o-color: #003082;
    --certiary-color: #e6e6e9;
    --white-color: white;
    --link-color: #0063d3;
    --warning-color: #e2103d;
    --text-color: #070721;
    --popup-background: rgba(0,0,0,0.45);
}

body {
    font-family: var(--font-family);
    margin:0;
    padding:0;
    background-color: var(--certiary-color)
}

header {
    background-color: var(--primary-color);
    padding:.5em;
    margin-bottom:1em;
}



form {
    width: 80vw;
    max-width: 60em;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding:2em;
    background-color: var(--white-color);
    border-radius: 4px;
    /* box-shadow:  */
}


fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 1em 0;
    margin: 1em 0; 
    background: none;
}




legend {
    font-weight: bold;
}
.tab > legend {
    font-size: 1.2em;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

input[type="radio"] {
    margin-right: 0.3em; /* ruimte tussen knop en tekst */
}

label:has(input[type="radio"]) {
    flex-direction: row;  /* zet input en tekst naast elkaar */
    align-items: center;
    margin-bottom: 0.3em; /* kleinere ruimte tussen opties */
}

/* Input styling */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"] {
    padding: 0.4em 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tab {
    display: flex;
    flex-direction: column;
    height:58vh;
    overflow: scroll;
    scroll-behavior: smooth;
}
.tab.active {
    display: flex;
}
.tab.inactive {
    display: none;
}

.button-row{
    display:flex;
    justify-content:flex-end;
    width:100%;
}

button {
    background-color: var(--link-color);
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 -.125rem 0 var(--secondary-color);
    color: var(--white-color);
    font-size: 1em;
    min-width: 8em;
    padding: 1em 2em;
    margin:.5em;
    transition: box-shadow .15s ease-in-out;
    cursor:pointer;
}

button:hover{
    box-shadow: inset 0 -3.125rem 0 var(--o-color);
}




.warning {
    color: var(--warning-color);
}


.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: var(--popup-background);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: var(--white-color);
  padding: 2rem;
  width: 80vw;
  border-radius: 8px;
  text-align: center;
  list-style-type: none;
}

.modal-buttons {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  padding: 0.6rem 1.2rem;
  cursor: pointer;
}


#summaryModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--popup-background);
    z-index: 9999; /* ligt boven alles */
    justify-content: center;
    align-items: center;
}
